.login-input {
  text-transform: none;
  margin: 8px 0;
}

.login-actions-btn {
  display: flex;
  gap: 16px;
  margin: 16px 0;

  @media (max-width: 480px) {
    flex-direction: column;
  }

  .material-btn {
    text-transform: none;
  }
}

.login-link-cancel {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1e1e1e;
  text-decoration: none;
}
