.navbar-container {
    display: flex;
    align-items: center;

    padding: 16px 32px;

    background-color: rgb(231, 231, 231);
    box-shadow: 11px 7px 34px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 11px 7px 34px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 11px 7px 34px -4px rgba(0,0,0,0.75);

}